@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

h1 {
	color: #FE4E5F;
}
h2 {
	color: #FFFF4E;
}
h3 {
	color: #599CF3;
}
body {
	background-color: #FFFFFF;
	color: #222222;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 18px;
}
a:link {
	
}
a:visited{
	
}
a:hover{

}
a:active{

}